{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Rate Your Hero{% endblock %}

{% block content %}
    <div class="jumbotron">

      <style>

      h1
      {
        font-family: Impact;
        font-size: 55px
      }
      </style>

        <h1><i class="fa fa-film"></i> Liste des films et séries</h1>
        <hr />

        <p class="lead">
          <ul class="list-group">
        {% for film in films %}
            <li class="list-group-item">
                <b>
                  <a style="font-size: 20px" href="{{ path('film_detail', {filmId: film.id}) }}">
                    {{ film.title }}
                </b>
                  </a>
                  <p style="font-size: 17px" href="{{ path('hero_detail', {filmId: film.id}) }}">
                    {{ film.year }},

                   <href="{{ path('hero_detail', {filmId: film.id}) }}">
                    {{ film.producer }}
                  </p>


                <i>

                </i>

            </li>
        {% else %}
            <li class="list-group-item">Aucun Films ou séries.</li>
        {% endfor %}
    </ul>
        </p>
    </div>
{% endblock %}
