{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Rate Your Hero{% endblock %}

{% block content %}
    <div class="jumbotron">

      <style>
      h1
      {
        font-family: Impact;
        font-size: 55px
      }
      </style>

        <h1><i class="fa fa-users"></i>Liste des héros</h1>
        <hr />

        <p class="lead">
          <ul class="list-group">
            <img {{ asset('/bundles/img/luke-skywalker-star-wars.jpg') }} />
        {% for hero in heros %}
            <li class="list-group-item">
                <b>
                  <a style="font-size: 20px" href="{{ path('hero_detail', {heroId: hero.id}) }}">
                      {{ hero.firstname }} {{ hero.lastname }}
                  </a>
                </b>
                <p>
                <i>
                <a style="font-size: 18px" href="{{ path('film_detail', {heroId: hero.id}) }}">
                  {{ hero.film }}
                </a>
                </i>
              <br/>
                  <z style="font-size: 17px" href="{{ path('hero_detail', {heroId: hero.id}) }}">
                    {{ hero.type }}
                  </z>

                </p>


            </li>
        {% else %}
            <li class="list-group-item">Aucun Héro.</li>
        {% endfor %}
    </ul>
        </p>
    </div>
{% endblock %}
